/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #fff;
  --text-color-primary: #fff;
  --text-color-secondary: #f7f1f1;
  --background-secondary: #c8e7df;
  --btn-color-primary: #1aaf91;
  --btn-color-dark: #1d3853;
  --btn-color-light: #fff;
  --btn-text-color-dark: #fff;
  --btn-text-color-light: #1d3853;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

/** buttons **/
button.dark {
  border: var(--btn-color-dark) solid 1px;
  border-radius: 5px;
  background-color: var(--btn-color-dark);
  padding: 8px 12px;
  color: var(--text-color-primary);
}

button.light {
  border: var(--btn-color-light) solid 1px;
  border-radius: 5px;
  background-color: var(--btn-color-light);
  padding: 8px 12px;
  margin: 6px 0px;
  color: var(--btn-text-color-light);
}

button.gradient {
  background: linear-gradient(180deg, #23c687 0%, #1aaf91 100%);
  border: linear-gradient(180deg, #23c687 0%, #1aaf91 100%) solid 1px;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 6px 0px;
  color: var(--btn-color-light);
}

/* grids */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

/** cards **/
section.services .grid {
  margin-top: 30px;
}

.card {
  padding: 15px;
  z-index: 2;
  background-color: white;
  border: #fff solid 1px;
  border-radius: 10px;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.card .img-card {
  background: linear-gradient(180deg, #23c687 0%, #1aaf91 100%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 10px;
}

.card .img-card img {
  width: 100%;
  align-self: center;
}

.card .title-card {
  margin: 12px 0px;
  color: var(--btn-text-color-light);
  border-bottom: #1aaf91 solid 3px;
  display: inline-block;
  padding-bottom: 4px;
}

.card p {
  font-size: 0.8rem;
}

/** mobile **/
nav {
  padding: 2vh 3vh;
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #23c687;
}

.logo {
  grid-column: 1/5;
  display: flex;
  gap: 2px;
  align-items: center;
}

.logo img {
  width: 30px;
}

.nav-menu {
  grid-column: 8/9;
}

.nav-menu .img {
  width: 30px;
  height: 40px;
  align-self: center;
}

nav h4 {
  color: var(--text-color-primary);
  font-size: 1.1rem;
}

nav .items {
  display: none;
  grid-column: 3/8;
}

/* header section */
section.header {
  position: relative;
  padding: 10vh 3vh;
  width: 100%;
  background: linear-gradient(180deg, #23c687 0%, #1aaf91 100%);
}

section.header .left h1 {
  font-weight: bold;
  font-size: 1.9rem;
  color: var(--text-color-primary);
}

section.header .left p {
  margin-top: 8px;
  color: var(--text-color-secondary);
}

section.header .buttons {
  margin-top: 15px;
}

section.header .left .buttons span {
  font-size: 1rem;
}

section.header .right {
  margin-top: 20px;
}

.img-right {
  width: 100%;
}

section.header div.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

section.header div.wave svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 97px;
}

section.header div.wave .shape-fill {
  fill: #ffffff;
}

/* services sections */
section.services {
  width: 100%;
  padding: 24px;
  background: var(--background-secondary);
}

section.services h6,
.services-title,
.services-sub {
  text-align: center;
}

section.services .card {
  grid-column: span 8;
}

.services h6 {
  color: var(--btn-text-color-light);
}

.services-title {
  color: var(--btn-text-color-light);
  font-size: 1.3rem;
}

.services-sub {
  margin: 15px 12px;
  font-size: 0.8rem;
}

/* statistics */
section.statistics {
  /* background-color: #17c967; */
  background: linear-gradient(180deg, #23c687 0%, #1aaf91 100%);
  color: var(--text-color-primary);
  padding: 40px 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

section.statistics::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: top left;
}

section.statistics::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: inherit;
  transform: skew(0, -2deg);
  transform-origin: bottom right;
}

section.statistics p {
  margin: 10px 0px 24px 0;
  font-size: 0.9rem;
}

section.statistics .grid {
  margin-top: 10px;
  display: block;
}

section.statistics .grid .items {
  margin-top: 20px;
}

section.statistics .grid .items-title {
  font-size: 1.5rem;
  font-weight: 700;
}

/* section why us */
section.why-us {
  background: var(--background-secondary);
  padding: 5vh 2vh;
}

section.why-us h4 {
  font-size: 1.2em;
  color: var(--btn-text-color-light);
}

section.why-us p {
  font-size: 0.85em;
  margin: 3vh, 0;
}

.pet-bg {
  text-align: center;
}

.pet-bg img {
  width: 80%;
  object-fit: contain;
  border: #fff solid 1px;
  border-radius: 48% 52% 70% 30% / 30% 59% 41% 70%;
}

section.why-us .right {
  margin-top: 2vh;
}

/** slider ratings/ testimonials **/
section.testimonials {
  background: linear-gradient(180deg, #23c687 0%, #1aaf91 100%);
  position: relative;
  padding: 5vh 0;
}

section.testimonials h4,
section.testimonials p {
  color: var(--text-color-primary);
  text-align: center;
}

section.testimonials h4 {
  font-size: 1.3em;
  font-weight: 500;
}

section.testimonials p {
  margin: 1.2vh 0;
  font-size: 0.85em;
}

section.testimonials .grid {
  margin-top: 24px;
}

section.testimonials .card {
  margin: 15px 20px;
  text-align: center;
}

section.testimonials .card img {
  width: 40px;
}

section.testimonials .card h4,
section.testimonials .card p {
  color: var(--btn-text-color-light);
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: #23c687;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.prev img,
.next img {
  width: 100%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* The dots/bullets/indicators */
.dots {
  margin-top: 3vh;
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* trivia section */
section.trivia {
  background: var(--background-secondary);
}

/* footer section */
footer {
  background: linear-gradient(180deg, #23c687 0%, #1aaf91 100%);
  color: white;
  padding: 2vh;
}

div.cols:first-of-type {
  margin-top: 10px;
}

div.cols ~ .cols {
  margin-top: 20px;
}

footer p,
div.socials,
footer ul {
  margin-top: 1.2vh;
}

footer h4 {
  font-size: 1.2em;
}

/** small tablet **/
@media screen and (min-width: 620px) {
  /* section header */
  section.header .top {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }
  section.header .grid-items {
    grid-column: span 4;
  }
  .right.grid-items img {
    width: 120%;
  }
  /* services sections */
  section.services .card {
    grid-column: span 4;
  }
}
